* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

section {
  height: 100vh;
  overflow: scroll;
}

#top {
  background-color: #B55956;
  z-index: 3;
  color: white;
}

.profile {
  z-index: 1;
  opacity: .4;
  position: relative;
}

.content {
  position: absolute;
  bottom: 13%;
  left: 4%;
  z-index: 3;
}

.section1-nav-down {
  position: absolute;
  bottom: 0;
  right: 4%;
  z-index: 3;
  color: white;
  font-size: 20pt;
}

#about-me {
  background-color: #F6F8FA;
}

#about-me .col-6 {
  margin-top: 6%;
  padding: 20pt;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.section2-nav-up {
  position: absolute;
  bottom: -5%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 20pt;
}

.section2-nav-down {
  position: absolute;
  bottom: -100%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 20pt;
}

#project_cards {
  background-color: #B55956;
  padding-bottom: 5em;
}

#project_cards article {
  padding: 10pt;
  border: solid black;
  background: #F6F8FA;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 9%;
}

.card_link a{
  color: black;
}

#project_cards article:hover {
  transform: rotateY(180deg);
  transition: 1s;
}

#project_cards article:hover .front{
	display: none
}

#project_cards article:hover .back{
	backface-visibility: initial;
	display: block;
}

/* #project_cards article:hover .back .back_image{
	display: block;
} */


.back{
	display: none;
}

.front {
  z-index: 2;

  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}

.section3-nav-up {
  position: absolute;
  bottom: -105%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 20pt;
}

.social_1 {
  /* position: absolute; */
  /* bottom: -201%; */
  /* right: 2%; */
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.social_2 {
  /* position: absolute; */
  /* bottom: -201%; */
  /* right: 5%; */
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.social_3 {
  /* position: absolute; */
  /* bottom: -201%; */
  /* right: 8%; */
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.email {
  /* position: absolute; */
  /* bottom: -201%; */
  /* right: 11%; */
  z-index: 3;
  color: black;
  font-size: 29pt;
}

@media only screen and (max-width: 1000px) {
	.footer_links {

	}
}

@media only screen and (max-width: 700px) {
	.banner_img {
	  width: initial;
	  height: 100vh;
	}
}


