html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  background-color: rgb(40, 44, 52);
}

img {
  width: 100%;
}

body {
  background: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=abstract-astro-astronomy-956999.jpg&fm=jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgba(51, 118, 183, 07)
}

ul {
  list-style: none;
}

.nav-style {
  background-color: rgb(93, 93, 90);
}

.nav-style>nav>a {
  color: white;
}

.about-header {
  font-size: 45;
  padding: 20px;
  text-align: left;
  color: white;
}

.profile-picture {
  height: 100%;
  width: 50%;
  vertical-align: middle;
  display: inline-block;
}

.bio {
  color: white;
  padding: 4px;
  text-align: justify;
  vertical-align: middle;
  display: block;
}

.cards {
  display: inline-flex;
  padding: 10px;
}

.link-list {
  background-color: rgb(93, 93, 90);
  padding: 4px;
  text-align: center;
  font-size: 16pt;
}

.link-list>li {
  display: inline-flex;
}

.link-list>li>a {
  padding: 15px;
  color: white;
}

main {
  clear: both;
}