{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Zachary Thigpen Portfolio</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>
  <script src="{% static 'js/app.js' %}" charset="utf-8"></script>
  <div class="container-fluid">
    <section id="top">
      <a class="section1-nav-down" href="#about-me"><i class="fas fa-angle-down"></i>
</a>
      <div class="row">

        <div class="col-12">
          <div class="profile"><img src="{% static 'images/GB.profile.jpg'%}" alt=""></div>

          <div class="content">
            <h1>ZACHARY THIGPEN</h1>
            <h2>
          - musician & developer -
        </h2>
            <p>Web developer focused on creative and clean solutions in modern environments</p>
          </div>
        </div>
      </div>

    </section>
    <section id="about-me">
      <a class="section2-nav-up" href="#top"><i class="fas fa-angle-up"></i>


    </a>
      <a class="section2-nav-down" href="#project_cards"><i class="fas fa-angle-down"></i>
</a>

      <div class="row">
        <div class="col-3"></div>

        <div class="col-6">
          <h1>About Me</h1>
          <p>Zachary Thigpen is a Web and Software Developer who partners with clients to find solutions to fit their needs and grow their personal and professional brands, human-to-human. After spending nearly a decade working in business management and
            running a multimillion dollar retail store, Zach knows what truly drives successful businesses, and how to find real world solutions in today’s work environments. Since then, Zach has spent several years learning the latest technologies employed
            in web and software development with a strong full stack skillset.</p>
          <p>Zach is also a professional musician who has been performing and working around the Southeast for 15+ years. His experience as a creative artist brings a unique eye and approach to composing and arranging solutions as well as the ability to
            pivot and be flexible when change is present.</p>
          <p>Zach holds a BA in audio technology and a minor in business administration from Clemson University and a Carolina Code School Immersive 12 Week Full Stack Certificate.</p>
        </div>

        <div class="col-3"></div>
      </div>
    </section>

    <section id="project_cards">
      <a class="section3-nav-up" href="#about-me"><i class="fas fa-angle-up"></i></a>
      <div class="row">

        <div class="col-12 col-md">
          <article>
            <div class="front">
              <h1 class="record_bin"><a href="https://morning-beyond-85234.herokuapp.com/">The Record Bin</a></h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="back">

              <!-- <img src="images/Code Shot.png" alt=""> -->
            </div>
          </article>
        </div>
        <div class="col-12 col-md">
          <article>
            <h1>Responsive Calculator</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

          </article>
        </div>
        <div class="col-12 col-md">
          <article>
            <h1>Blackjack</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </article>
          </div>
          </div>
          <div class= "row">
            <div class= "col-12">
              <p>Technologies</p>
            </div>
          </div>
      
          <a class="social_1" href="https://www.linkedin.com/in/zacharythigpen/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social_2" href="https://github.com/Fluffhead88" target="_blank"><i class="fab fa-github-square"></i></a>
          <a class="social_3" href="https://twitter.com/Zachary_Thigpen" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a class="email" href="mailto:thigpen.zach@gmail.com?Subject=Website%20Contact" target="_top"> <i class="fas fa-envelope-square"></i></a>







    </section>

  </div>
</body>

</html>
